body {
background-color: #8096D1;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 56px;
  color: white;
display: flex;
justify-content: right;
margin-right: 340px;
}

.imagem {
    display: flex;
    margin-left: 200px;
}

.inputbox {
    position: relative;
    width: 196px;
    margin-top: 75px;
    margin-left: 150px;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #000000;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 40px 10px 10px;
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
    
  }

  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: #EF4910;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 465px;
    height: 2px;
    background: #ffffff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
  }

.link  {
    color: white;
    text-decoration: none;
display: flex;
justify-content: right;
margin-top: 10px;
margin-right: 10px;
}

  .comic-button {
    cursor: pointer;
    margin-left: 150px;
    margin-top: 100px;
    display: inline-block;
    padding: 10px 200px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #EF4910;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #EF4910;
    border: 2px solid #EF4910;
    box-shadow: 5px 5px 0px #EF4910;
  }
  
  .comic-button:active {
    background-color: #ffffff;
    box-shadow: none;
    transform: translateY(4px);
  }

  .tudo {
    display: flex;
    margin-top: 0px;
  }
  
.criar {
    margin-top: 30px;
    margin-left: 135px;
    align-items: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
  }
  
.criar:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
  }
  
.criar:hover:before {
    background-color: #fff;
    width: 3rem;
  }
